html { scroll-behavior: smooth; }
body { margin: 0; background: #070908; }
* { box-sizing: border-box; }
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
